*, 
*::before,
*::after {
    box-sizing: border-box; 
}

header {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items:center; 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    background-color: #eae6e2;
    padding-top: 3rem;
    /* padding: 3rem 1rem 0 1rem; */
}

/* removes default margins */
* {
    margin: 0;
} 

body {
    text-align: justify;
    text-justify: inter-word;
    background-color: #eae6e2;
    color: #211009;
    font-family: "DM Sans", sans-serif;
    margin: 0 1rem;
}

p {
    line-height: 1.4rem;
}

#brand-kanji {
    border: 0.0625em solid #8e3939;
    background-color: #8e3939;
    border-radius: 6.25em;
    padding: 0.375em 0.3125em;
    margin: 0.3125em;
    color: #eae6e2;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: .4em;
    vertical-align: super;
}

.hei {
    font-family: "Volkorn", serif;
    font-style: italic;
    font-weight: 400;
    padding-right: .2em; 
}

.nav-toggle-btn {
    display: block;
}

.nav {
    width: 100%; 
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease;
    margin-top: 10px;
    background-image: linear-gradient(#b5abaa, #eae6e2, #eae6e2, #eae6e2);
}

.nav.open {
    max-height: 300px; 
}

.nav ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.nav ul li {
    padding: 1rem;
    border-bottom: 1px solid transparent;
}

.nav ul li:last-child {
    border: none;
}

.nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #211009;
    font-weight: 700;
}

.nav ul li.home:hover {
    background-image: linear-gradient(#d6a499, #eae6e2) 
}

.nav ul li.principles:hover {
    background-image: linear-gradient(#e4c9b6, #eae6e2) 
}

.nav ul li.diet:hover {
    background-image: linear-gradient(#b7baa5, #eae6e2) 
}

.nav ul li.game:hover {
    background-image: linear-gradient(#a4b1ba, #eae6e2)  
}

.nav ul li.faq:hover {
    background-image: linear-gradient(#aea4ba, #eae6e2) 
} 

.carousel {
    border: 1px solid #eae6e2;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative; 
    height: 380px;
    margin: 4em auto 4em auto;
    overflow: hidden;  
    white-space: nowrap;
}

@keyframes scrollright {
  to {
    right: -570px;
  }
}

.carousel div img {
    width: 570px;
    height: 380px;
    z-index: -1;
    position: absolute; 
    right: max(calc(570px * 2.05), 100%);
    animation-name: scrollright;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* (40s / 3 * (3 - x) * -1 */
.img1 {
    animation-delay: calc(40s / 3 * (3 - 1) * -1);
}

.img2 {
    animation-delay: calc(40s / 3 * (3 - 2) * -1);
}

.img3 {
    animation-delay: calc(40s / 3 * (3 - 3) * -1);
}

.kanji {
    font-family: "Noto Serif JP", serif;
}


#ck-1 {
    position: absolute;
    top: -20%; 
    left: 44%; 
    transform: translate(-50%, 50%);
    color: #eae6e2;
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
    letter-spacing: .3em;
}

#ck-2 {
    position: absolute;
    top: 40%; 
    left: 46%;
    transform: translate(50%, -50%);
    color: #eae6e2;
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
    letter-spacing: .3em;
}

#cp {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 40%);
    font-family: "Volkorn", serif;
    color: #eae6e2;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    min-width: 180px;
    justify-self: center;
}

#cp p {
    text-align: center;
    text-wrap: wrap;
}

#home-intro * {
    text-align: center;
    text-justify: inter-word;
    max-width: 272px;
    justify-self: center;
}

#title-desc {
    margin: 4rem;
}

.line {
    border: 1px solid #9f9c9a;
    border-width: thin;
    margin: 0 .5rem -1rem auto;
    height: 150px;
    display: inline-block;
}

.btn {
    border: 1px solid #211009;
    color: #211009;
    padding: .5rem 2rem; 
    display: inline-block;
    text-decoration: none;
    margin: 3rem;
    font-size: 1rem; 
    text-align: center;
    justify-self: center;
    grid-area: btn;
}

/* === principles === */
#p-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 1rem;
    gap: 1rem;
    background-image: linear-gradient(#b7baa5, #b7baa5, #eae6e2, #eae6e2);
    color: #4b555c;
}

#p-header h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 400; 
}

#p-header h2 {
    text-align: center;
    font-size: 3rem;
    font-family: "Vollkorn", serif; 
    font-weight: 400; 
}

#p-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 7rem;
}

#p-intro * {
    max-width: 272px;
}

#p-intro h2 {
    text-align: center;
    font-size: 2rem;
}

#p-intro p {
    text-justify: inter-word; 
}

.p-sect {
    display: flex;
    flex-direction: column; 
    background-image:linear-gradient(#c7cfd4, #eae6e2, #eae6e2);
    row-gap: 2rem;
    padding: 7rem 1rem; 
    align-items: center;
}
.p-sect h2, .p-sect p, .p-sect ul {
    min-width: 311px; 
}

.p-sect h2 {
    text-align: center; 
}

#p1 #p1-kanji {
    font-size: 3rem;
    text-align: center;
    color: #4b555c;
}

#p1 ul {
    text-wrap: wrap; 
}


#p3 {
    background-image: url('assets/p3-mobile-bg.png');
    background-size: cover;
}

/* === diet === */
#d-intro {
    margin: 10rem 2rem;
}

#d-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10rem;
}

#d-desc * {
    max-width: 300px;
}

#d-desc .kanji {
    font-size: 3rem; 
}

#d-details-visual {
    display: flex; 
    flex-direction: column; 
    /* background-color: #dbd6d0; */
    background-image: linear-gradient(#dbd6d0, #dbd6d0, #eae6e2);
    min-height: 112rem; 
    margin-bottom: 5rem;
    padding: 5rem 1rem;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}

#d-details-visual img, #d-steps img {
    max-width: 100%;
    height: auto;
}

#d-details-visual .detail .kanji {
    display: flex; 
    flex-direction: column; 
    margin: 2rem 0; 
    align-items: center;
    justify-content: center;
    border: 1px solid transparent; 
    background-color: #eae6e2;
    border-radius: 100%; 
    padding: 1px;
    width: 10rem;
    height: 10rem;
}

#d-details-visual .detail h2 {
    font-size: 2rem
}

#d-details-visual .detail h3, #d-details-visual .detail p {
    justify-self: center;
}

#d-details-visual .detail p {
    margin: 1rem;
    font-size: .9rem;
}

#d-steps {
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: 1px solid transparent;
    padding: 5rem 1rem;
    gap: 2rem;
}

#d-steps h2, #d-steps p {
    text-align: center;
}

#d-steps .kanji {
    writing-mode: vertical-rl; 
    font-size: 2rem;
}

#d-steps h3 {
    font-family: "Vollkorn", serif; 
    font-weight: 400; 
}

.syllable, .syllable .syllable-header, .syllable .syllable-header .kanji {
    display: flex;
    flex-direction: column;
}

.syllable { 
    align-items: center;
    border: 1px solid transparent; 
    background-color: #dbd6d0;
    margin-bottom: 5rem; 
    padding: 1rem; 
    gap: 1rem;
    height: 600px;
    width: clamp(343px, 50%, 600px);
    justify-self: center;
    justify-content: space-between;

}

.syllable-header {
    gap: 1rem; 
}

.syllable .syllable-header h2, .syllable .syllable-header h3 {
    font-size: 3em;
}

.syllable .syllable-header h3, .syllable .syllable-header p, #s-full {
    text-align: center; 
}

.syllable .syllable-header .kanji {
    justify-content: center;
    align-items: center;
    border: 1px solid transparent; 
    background-color: #eae6e2;
    border-radius: 100%; 
    padding: 1px;
    width: 10rem;
    height: 10rem;
}

.syllable .syllable-info {
    border: 1px solid #eae6e2;
    background-color: #eae6e2;
    display: grid; 
    grid-template-areas: 
    "c1 c1-values"
    "c2 c2-values"
    "c3 c3-values";
    justify-content: center;
    overflow: hidden;
}

.syllable .syllable-info * {
    align-self: stretch;
    padding: 1rem;
    border: 1px solid #211009;
}

#c1 {
    grid-area: c1
}
#c2 {
    grid-area: c2
}
#c3 {
    grid-area: c3
}
#c1-values {
    grid-area: c1-values
}
#c2-values {
    grid-area: c2-values
}
#c3-values {
    grid-area: c3-values
    
}

.button-container {
    display: flex;
    flex-direction: row; 
    gap: 1rem;
}

@media screen and (min-width: 720px) {
    p {
        line-height: 1.5rem;
    }
    
    #toggle-nav-btn {
        display: none;
    }

    header {
        justify-content: center; 
    }

    header h1 {
        font-size: 3rem; 
    }

    .nav {
        max-height: none;
        overflow: visible;
        position: sticky;
        top: 0; 
        z-index: 1000;
        text-align: center;
        background-image: none;
        background-color: #eae6e2;
        padding-bottom: 2em;
    }

    .nav ul li {
        padding: 0 1em 0 1em;
        display: inline-block;
        line-height: 2rem;
    }

    .nav ul li a {
        font-size: 1rem;
        text-decoration: none;
        color: #211009;
        font-weight: 700;
    } 

    @keyframes scrollright {
        to {
            right: -690px;
        }
    }

    .carousel {
        height: 460px;
    }

    .carousel div img {
        width: 690px;
        height: 460px;
        right: max(calc(690px * 2.05), 100%); 
    }
    
    #ck-1, #ck-2 {
        font-size: 1.5rem;
    }

    #ck-1 {
        left: 46%; 
    }

    #ck-2 {
        left: 47%; 
    }

    #cp p {
        padding-top: 1rem;
        min-width: 400px;
    }

    #home-intro * {
        max-width: 370px;
    }

    #home-intro h2 {
        font-size: 3rem;
    }

    #home-intro p {
        font-size: 1.2rem;
    }

    #title-desc {
        margin: 5em;
    }

    /* === principles === */
    #p-header h1 {
        font-size: 7rem;
    }

    #p-header h2 {
        font-size: 4rem;
    }

    #p-intro * {
        max-width: 350px;
    }

    #p-intro h2 {
        font-size: 3rem;
    }

    #p-intro p {
        font-size: 1.2rem;
    }

    .p-sect {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #p1 {
        grid-template-areas:
        "title kanji"
        "p kanji"
        "ul kanji"
    }

    #p2 {
        grid-template-areas:
        "title none"
        "p none"
    }

    #p3 {
        grid-template-areas:
        "none title"
        "none p"
    }

    #p4 {
        grid-template-areas:
        "title none"
        "p none"
        "btn none"
    }

    #p1 h2, #p2 h2, #p3 h2, #p4 h2 {
        font-size: 2rem;
        grid-area: title
    }

    #p1 #p1-kanji {
        font-size: 5rem;
        writing-mode: vertical-rl;
        grid-area: kanji;
    }

    #p1 p, #p2 p, #p3 p, #p4 p {
        grid-area: p;
    }

    #p1 ul {
        grid-area: ul;
    }

    .btn {
        justify-self: self-start;
    }

    /* === diet === */

}

@media screen and (min-width: 1024px) {
    p {
        line-height: 2rem;
    }

    header h1 {
        font-size: 4rem;
    }

    .nav {
        padding: 1rem; 
    }

    .nav ul li a {
    font-size: 1rem;
    }      

    @keyframes scrollright {
        to {
            right: -805px;
        }
    }

    .carousel {
        height: 537px;
    }

    .carousel div img {
        width: 805px;
        height: 537px;
        z-index: -1;
        position: absolute;
        right: max(calc(805px * 2.05), 100%); 
    }

    #ck-1, #ck-2 {
        font-size: 1.8rem;
    }

    #ck-1 {
        left: 47%; 
    }

    #ck-2 {
        left: 48%; 
    }

    #cp {
        top: 85%;
    }

    #home-intro * {
        max-width: 400px;
    }

    #home-intro h2 {
        font-size: 4rem;
    }

    #home-intro p {
        font-size: 1.4rem;
    }

    #title-desc {
        margin: 8em;
    }

    /* === principles === */
    #p-header {
        margin-bottom: 10rem;
    }

    #p-header h1 {
        font-size: 11rem;
    }

    #p-header h2 {
        font-size: 5rem;
    }

    #p-intro {
        gap: 3rem;
        margin-bottom: 12rem;
    }

    #p-intro * {
        max-width: 500px;
    }

    #p-intro h2 {
        font-size: 4rem;
    }

    #p-intro p {
        font-size: 1.3rem;
    }

    .p-sect h2, .p-sect p, .p-sect ul {
        max-width: 500px; 
    }

    #p1 h2, #p2 h2, #p3 h2, #p4 h2 {
        font-size: 2rem;
        grid-area: title
    }

    #p1 p, #p1 ul, #p2 p, #p3 p, #p4 p, .btn {
        font-size: 1.1rem;
    }
    
    #p1 #p1-kanji {
        font-size: 5rem;
    }

    .btn {
        padding: 1.3rem;
        justify-self: self-start; 
    }
}


