*, 
*::before,
*::after {
    box-sizing: border-box; 
}

header {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items:center; 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    background-color: #eae6e2;
    padding-top: 3rem;
    /* padding: 3rem 1rem 0 1rem; */
}

/* removes default margins */
* {
    margin: 0;
} 

body {
    text-align: justify;
    text-justify: inter-word;
    background-color: #eae6e2;
    color: #211009;
    font-family: "DM Sans", sans-serif;
    margin: 0 1rem;
}

#brand-kanji {
    border: 0.0625em solid #8e3939;
    background-color: #8e3939;
    border-radius: 6.25em;
    padding: 0.375em 0.3125em;
    margin: 0.3125em;
    color: #eae6e2;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: .4em;
    vertical-align: super;
}

.hei {
    font-family: "Volkorn", serif;
    font-style: italic;
    font-weight: 400;
    padding-right: .2em; 
}

.nav-toggle-btn {
    display: block;
}

.nav {
    width: 100%; 
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease;
    margin-top: 10px;
    background-image: linear-gradient(#b5abaa, #eae6e2, #eae6e2, #eae6e2);
}

.nav.open {
    max-height: 300px; 
}

.nav ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.nav ul li {
    padding: 1rem;
    border-bottom: 1px solid transparent;
}

.nav ul li:last-child {
    border: none;
}

.nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #211009;
    font-weight: 700;
}

.nav ul li.home:hover {
    background-image: linear-gradient(#d6a499, #eae6e2) 
}

.nav ul li.principles:hover {
    background-image: linear-gradient(#e4c9b6, #eae6e2) 
}

.nav ul li.diet:hover {
    background-image: linear-gradient(#b7baa5, #eae6e2) 
}

.nav ul li.game:hover {
    background-image: linear-gradient(#a4b1ba, #eae6e2)  
}

.nav ul li.faq:hover {
    background-image: linear-gradient(#aea4ba, #eae6e2) 
} 

.carousel {
    border: 1px solid #eae6e2;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative; 
    height: 380px;
    margin: 4em auto 4em auto;
    overflow: hidden;  
    white-space: nowrap;
}

@keyframes scrollright {
  to {
    right: -570px;
  }
}

.carousel div img {
    width: 570px;
    height: 380px;
    z-index: -1;
    position: absolute; 
    right: max(calc(570px * 2.05), 100%);
    animation-name: scrollright;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* (40s / 3 * (3 - x) * -1 */
.img1 {
    animation-delay: calc(40s / 3 * (3 - 1) * -1);
}

.img2 {
    animation-delay: calc(40s / 3 * (3 - 2) * -1);
}

.img3 {
    animation-delay: calc(40s / 3 * (3 - 3) * -1);
}

.kanji {
    font-family: "Noto Serif JP", serif;
}


#ck-1 {
    position: absolute;
    top: -20%; 
    left: 48%; 
    transform: translate(-50%, 50%);
    color: #eae6e2;
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
    letter-spacing: .3em;
}

#ck-2 {
    position: absolute;
    top: 40%; 
    left: 52%;
    transform: translate(50%, -50%);
    color: #eae6e2;
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
    letter-spacing: .3em;
}

#cp {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 40%);
    font-family: "Volkorn", serif;
    color: #eae6e2;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    min-width: 180px;
    justify-self: center;
}

#cp p {
    text-align: center;
    text-wrap: wrap;
}

#home-intro * {
    text-align: center;
    text-justify: inter-word;
    max-width: 272px;
    justify-self: center;
}

#title-desc {
    margin: 4rem;
}

.line {
    border: 1px solid #9f9c9a;
    border-width: thin;
    margin: 0 .5rem -1rem auto;
    height: 150px;
    display: inline-block;
}

.btn {
    border: 1px solid #211009;
    color: #211009;
    padding: .5rem 2rem; 
    display: inline-block;
    text-decoration: none;
    margin: 2rem;
    font-size: 1rem; 
}

/* === principles === */
#p-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 1rem;
    gap: 1rem;
    background-image: linear-gradient(#b7baa5, #b7baa5, #eae6e2, #eae6e2);
    color: #4b555c;
}

#p-header h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 400; 
}

#p-header h2 {
    text-align: center;
    font-size: 3rem;
    font-family: "Vollkorn", serif; 
    font-weight: 400; 
}

#p-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 7rem;
}

#p-intro * {
    max-width: 272px;
}

#p-intro h2 {
    text-align: center;
    font-size: 2rem;
}

#p-intro p {
    text-justify: inter-word; 
}

.p-sect {
    display: flex;
    flex-direction: column; 
    background-image:linear-gradient(#c7cfd4, #eae6e2, #eae6e2);
    row-gap: 2rem;
    padding: 7rem 1rem; 
    align-items: center;
}

.p-sect h2, .p-sect p {
    min-width: 311px; 
}

.p-sect h2 {
    text-align: center; 
}

#p1 #p1-kanji {
    font-size: 3rem;
    text-align: center;
    color: #4b555c;
}

#p1 ul {
    text-wrap: wrap; 
}

#p3 {
    background-image: url('assets/p3-mobile-bg.png');
    background-size: cover;
}

@media screen and (min-width: 720px) {
    #toggle-nav-btn {
        display: none;
    }

    header {
        justify-content: center; 
    }

    header h1 {
        font-size: 3rem; 
    }

    .nav {
        max-height: none;
        overflow: visible;
        position: sticky;
        top: 0; 
        z-index: 1000;
        text-align: center;
        background-image: none;
        background-color: #eae6e2;
    }

    .nav ul li {
        padding: 0 1em 0 1em;
        display: inline-block;
        /* margin: 0 1em 0 1em;  */
        line-height: 2rem;
    }

    .nav ul li a {
        font-size: 1rem;
        text-decoration: none;
        color: #211009;
        font-weight: 700;
    } 

    @keyframes scrollright {
        to {
            right: -690px;
        }
    }

    .carousel {
        height: 460px;
    }

    .carousel div img {
        width: 690px;
        height: 460px;
        z-index: -1;
        position: absolute;
        right: max(calc(690px * 2.05), 100%); 
    }

    .img1 {
        animation-delay: calc(40s / 3 * (3 - 1) * -1);
    }

    .img2 {
        animation-delay: calc(40s / 3 * (3 - 2) * -1);
    }

    .img3 {
        animation-delay: calc(40s / 3 * (3 - 3) * -1);}
    
    #ck-1, #ck-2 {
        font-size: 1.5rem;
    }

    #cp p {
        padding-top: 1rem;
        min-width: 400px;
    }

    #home-intro * {
        max-width: 370px;
    }

    #home-intro h2 {
        font-size: 3rem;
    }

    #home-intro p {
        font-size: 1.2rem;
    }

    #title-desc {
        margin: 5em;
    }
}


